ion-card {
  img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
  }
}

ion-card-content {
  p {
    min-height: 48px;

    font-size: 1rem;
  }
}

.card-actions {
  margin-top: 16px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
