ion-card {
  .booked-icon {
    position: absolute;
    top: 40px;
    right: 20px;

    color: var(--ion-color-warning);

    transform: scale(5, 8);

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .booked {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

ion-card-content {
  p {
    min-height: 48px;

    font-size: 1rem;
  }
}

.card-actions {
  margin-top: 16px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
