<ion-card>
  <img [src]="restaurant.image" alt="">

  <ion-card-header>
    <ion-card-subtitle>{{restaurant.city}}</ion-card-subtitle>
    <ion-card-title>{{restaurant.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>{{restaurant.description}}</p>

    <form [formGroup]="reservationForm" (ngSubmit)="checkForReservation()">
      <ion-item class="ion-no-padding">
        <ion-label>Orario</ion-label>
        <ion-select interface="popover" #timeslotSelect formControlName="timeslotControl">
          <ion-select-option [value]=timeslot.early>{{timeslot.early | timeslot}}</ion-select-option>
          <ion-select-option [value]=timeslot.ordinary>{{timeslot.ordinary | timeslot}}</ion-select-option>
          <ion-select-option [value]=timeslot.late>{{timeslot.late | timeslot}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label>Persone&nbsp;/&nbsp;Disponibilit&agrave;</ion-label>
        <ion-input type="number" min="1" formControlName="peopleControl" class="ion-text-end"></ion-input>
        <ion-label>&nbsp;/&nbsp;{{restaurant.availability[timeslotSelect.value]}}</ion-label>
      </ion-item>

      <div class="card-actions">
        <ion-button type="submit" color="tertiary" style="margin-right: 4px" [disabled]="!reservationForm.valid">PRENOTA</ion-button>
      </div>
    </form>
  </ion-card-content>
</ion-card>
